{% extends "base.html" %}

{% block title %}Veuillez nous excuser pour la gêne occasionnée{% endblock %}

{% block content %}
<div id="live-content">
  <div class="live-direction-table">
    <h3>Compiègne vers Paris Nord</h3>
    <table class="live-trips-table">
      <thead>
        <tr class="live-trip-header">
          <th class="live-trip-header-item">Train</th>
          <th class="live-trip-header-item">Départ</th>
          <th class="live-trip-header-item">Arrivée</th>
          <th class="live-trip-header-item">Durée</th>
          <th class="live-trip-header-item">Retard</th>
        </tr>
      </thead>
      <tbody id="compiegne-to-paris-trips">
      </tbody>
    </table>
  </div>

  <div class="live-direction-table">
    <h3>Paris Nord vers Compiègne</h3>
    <table class="live-trips-table">
      <thead>
        <tr class="live-trip-header">
          <th class="live-trip-header-item">Train</th>
          <th class="live-trip-header-item">Départ</th>
          <th class="live-trip-header-item">Arrivée</th>
          <th class="live-trip-header-item">Durée</th>
          <th class="live-trip-header-item">Retard</th>
        </tr>
      </thead>
      <tbody id="paris-to-compiegne-trips">
      </tbody>
    </table>
  </div>
</div>

<div style="margin-top: 20px;">
  <a href="/statistiques" class="stats-button">
    <img src="/static/train-chart-down.png" alt="" class="stats-button-icon" />
    Voir les statistiques historiques
  </a>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/live_script.js"></script>
{% endblock %}
